@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #01260E;
}
main{
    background-color: #E7EAEF;
    border-radius: 10px;
    box-shadow: 5px 5px 15px;
    width: 320px;
    padding: 10px;
    margin: auto;
}
h1{
    text-align: center;
    color:#1C6752;
}
img{
    text-align: center;
}